<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--suppress ALL -->
<hibernate-configuration>
    <session-factory>
        <!-- <property name="connection.url">jdbc:mysql://localhost:3306/sample</property>-->

        <property name="connection.url">jdbc:mysql://awseb-e-mky9vqk86m-stack-awsebrdsdatabase-suw9df4rvbew.c7eq8ucout4u.us-east-2.rds.amazonaws.com:3306/sample</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name="connection.username">student</property>
        <property name="connection.password">iW2RTH&amp;N</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <mapping class="edu.matc.entity.User"/>
        <mapping class="edu.matc.entity.NudgeSession"/>

    </session-factory>

</hibernate-configuration>